.App {
    text-align: center;
    padding: 20px;
    list-style-type: none;
    /* background-image: url('https://images.unsplash.com/photo-1598991685953-f39c94dd53e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: azure;
    height: 100%;
    min-height: 100%;
}



.sidebar {
    display: flex;
    margin-top: 10px;
    padding-top: 45px;
    padding-left: 15px;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
li {
  padding: 10px;
}

.sidebar-route {
  padding-left: 25px;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

.sidebar-list-styling {
    padding-left: 35px;
    text-decoration: none;
}
.sidebar-display {
    padding-left: 40px;
}

.mainDiv {
    height: 100%;
    min-height: 100%;
}

.header {
    margin-top: 0.5em;
    text-align: left;
}

body {
    font-family: Arial;
    padding: 20px;
    /* background-image: url('https://images.unsplash.com/photo-1598991685953-f39c94dd53e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: azure;
  }
  
  /* Header/Blog Title */
 
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 65%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 15px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
    text-align: center;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer p {
    margin-top: 0.8em;
    margin-left: 1.5em;
  }

  .profileImage {
    height: 90px;
    width: 90px;

  }

  .logout {
    float:right;
  }